/*
 *  Landing page and Home Page
 *
 */

img {
    margin:0 auto;
}
#dacenter{
    width:100%;
    min-height:500px;
    border-radius:5px;
}

.row {
    background-color:#15537d;
    margin:0;
    padding:0;
    line-height:40px;
}

@media (min-width: 768px)
{
    .col-sm-6{
        width:100%;
    }
}

.landing-row{
    margin-top:10vh;
}


.brand-text{
    font-family:'Ubuntu', sans-serif;
    font-weight:700;
    font-size:40px;
    padding-top:10px;
}

.brand-text p{
    font-weight:300;
    font-size:15px;
    margin:0;
    padding:0;
}
.brand-text div{
    margin-top:10px;
}
.brand-text i{
    color:white;
    padding-left:5px;
    padding-right:5px;
    width:40px;
}

#brand{
    min-width:350px;
    font-size:30px;
    line-height:100px;
    color:rgba(255,255,255,0.9);
    padding:10px 10px 10px 10px;
}

#brand-minimal{
    margin:0 auto;
}

#login{
    max-width:500px;
    font-size:30px;
    line-height:100px;
    color:white;
}

.brand-info{
    margin-top:20px;
}

.brand-info .btn-default{
    height:50px;
    font-size:25px;
    font-weight:400;
    font-family:'Lato', sans-serif;
    margin-top:30px;
    color:white;
    background:rgba(0,0,0,0.1);
    border-top:1px solid rgba(255,255,255,0.07);
    border-left:1px solid rgba(0,0,0,0.05);
    border-right:1px solid rgba(0,0,0,0.05);
    border-bottom:2px solid rgba(0,0,0,0.2);
    border-radius:5px;
}

.brand-info .btn-default:hover{
    background:rgba(0,0,0,0.2);
}

.register-well label{
    font-size:20px;
}

.login-well{
    background:rgba(0,0,0,0.09);
    border:1px solid rgba(0,0,0,0.05);
    border-radius:5px;
    padding:20px 20px 20px 20px;
    overflow:hidden;
    max-width:500px;
    margin:0 auto;
}

.login-well h2{
    padding-top:0px;
    margin-top:0px;
}

.login-well .form-control{
    margin-bottom:5px;
}
.login-well .form-group{
    padding:0;
    margin:0;
}

.login-well .form-control{
    height:50px !important;
     font-weight:400;
    font-family:'Lato', sans-serif;
    display:inline;
    font-size:20px !important;
}

.login-well p{
    font-size:14px;
    padding:0 !important;
    margin:0 !important;
}

.login-well .btn{
   background-color:#1965aa;
   border:1px solid rgba(0,0,0,0.3);
}

.login-well .btn:hover{
   background-color:#217ed2;
}
